<div class="col-xs-6 col-md-4">
  <div class="thumbnail">
    <div class="panel panel-{{$cardCtrl.card.class}}">
      <div class="panel-heading list-group-item-success">
        <button type="button"
                class="close"
                aria-label="Close"
                ng-click="$cardCtrl.removeCard()"
                ng-show="!$cardCtrl.show">
          <span aria-hidden="true" class="small glyphicon glyphicon-remove"></span>
        </button>
        <button type="button"
                class="btn-close close"
                aria-label="Close"
                ng-click="$cardCtrl.edit()"
                ng-show="!$cardCtrl.show">
          <span aria-hidden="true" class="small glyphicon glyphicon-pencil"></span>
        </button>
        <h3 class="panel-title"
            ng-bind="$cardCtrl.card.title"
            ng-show="!$cardCtrl.show">
        </h3>
        <span ng-show="!$cardCtrl.show">Total todos: {{$cardCtrl.card.todos.length}}</span>
        <form ng-submit="$cardCtrl.change()" ng-if="$cardCtrl.show">
          <input type="text"
                 maxlength="20"
                 class="form-control error-{{$cardCtrl.titleError}}"
                 ng-model="$cardCtrl.editTitle"
                 ng-blur="$cardCtrl.edit()"
                 ng-keyup="$cardCtrl.validateEdit()"
                 required>
          <p ng-if="$cardCtrl.titleError"
             ng-model-options="{ updateOn: 'keyup'}"
             class="error-msg">Card with that name already exist</p>
        </form>
      </div>

      <ul class="list-group">
        <li class="list-group-item" ng-repeat="todo in $cardCtrl.card.todos track by $index">
          <todo todo="todo" index="$index"></todo>
        </li>
      </ul>

      <div class="panel-footer">
        <form ng-submit="$cardCtrl.addTodo($event)">
          <input type="text"
                 ng-model="$cardCtrl.todoText"
                 ng-blur="$cardCtrl.todoText = '';
                          $cardCtrl.caseError = false"
                 ng-keyup="$cardCtrl.validateAdd()"
                 placeholder="Add new todo here"
                 class="form-control error-{{$cardCtrl.caseError}}"
                 required>
          <p ng-if="$cardCtrl.caseError" class="error-msg">This case is already planned</p>
        </form>
      </div>
    </div>
  </div>
</div>
