<div class="col-xs-6 col-md-4">
  <div class="thumbnail">
    <div class="panel panel-{{$cardCtrl.card.class}}">
      <div class="panel-heading list-group-item-success">
        <button type="button"
                class="close"
                aria-label="Close"
                ng-click="$cardCtrl.delete()"
                ng-show="!$cardCtrl.show">
          <span aria-hidden="true" class="small glyphicon glyphicon-remove"></span>
        </button>
        <button type="button"
                class="btn-close close"
                aria-label="Close"
                ng-click="$cardCtrl.edit()"
                ng-show="!$cardCtrl.show">
          <span aria-hidden="true" class="small glyphicon glyphicon-pencil"></span>
        </button>
        <h3 class="panel-title"
            ng-bind="$cardCtrl.card.title"
            ng-show="!$cardCtrl.show">Todo Card</h3>
        <span ng-show="!$cardCtrl.show">Total todos: {{$cardCtrl.card.total}}</span>
        <form ng-submit="$cardCtrl.change()" ng-if="$cardCtrl.show">
          <input type="text"
                 class="form-control"
                 ng-model="$cardCtrl.changeText"
                 required>
        </form>
      </div>

      <ul class="list-group">
        <li class="list-group-item" ng-repeat="todo in $cardCtrl.card.todos track by $index">
          <todo todo="todo" index="$index"></todo>
        </li>
      </ul>

      <div class="panel-footer">
        <form ng-submit="$cardCtrl.addTodo($event)">
          <input type="text"
                 ng-model="$cardCtrl.todoText"
                 placeholder="Add new todo here"
                 class="form-control"
                 required>
        </form>
      </div>
    </div>
  </div>
</div>
