<div>
  <button type="button"
          class="btn-close close"
          aria-label="Close"
          ng-click="$tdCtrl.delete()"
          ng-show="!$tdCtrl.show">
    <span aria-hidden="true" class="small glyphicon glyphicon-remove"></span>
  </button>
  <button type="button"
          class="btn-close close"
          aria-label="Close"
          ng-click="$tdCtrl.edit()"
          ng-show="!$tdCtrl.show">
    <span aria-hidden="true" class="small glyphicon glyphicon-pencil"></span>
  </button>
  <label ng-show="!$tdCtrl.show" ng-click="$tdCtrl.checkDone($event)">
    <input type="checkbox"
           ng-model="$tdCtrl.todo.done">
    <span class="done-{{$tdCtrl.todo.done}}">{{$tdCtrl.todo.text}}</span>
  </label>
  <form ng-submit="$tdCtrl.change()" ng-if="$tdCtrl.show">
    <input type="text"
           class="form-control error-{{$tdCtrl.caseError}}"
           ng-model="$tdCtrl.changeText"
           required>
    <p ng-if="$tdCtrl.caseError" class="error-msg">This case is already planned</p>
  </form>
</div>
