<div>
  <button type="button"
          class="btn-close close"
          aria-label="Close"
          ng-click="$tdCtrl.delete()"
          ng-show="!$tdCtrl.show">
    <span aria-hidden="true" class="small glyphicon glyphicon-remove"></span>
  </button>
  <button type="button"
          class="btn-close close"
          aria-label="Close"
          ng-click="$tdCtrl.edit()"
          ng-show="!$tdCtrl.show">
    <span aria-hidden="true" class="small glyphicon glyphicon-pencil"></span>
  </button>
  <label ng-show="!$tdCtrl.show">
    <input type="checkbox"
           ng-model="todo.done">
    <span class="done-{{todo.done}}">{{$tdCtrl.todo.text}}</span>
  </label>
  <form ng-submit="$tdCtrl.change()" ng-if="$tdCtrl.show">
    <input type="text"
           class="form-control"
           ng-model="$tdCtrl.changeText"
           required>
  </form>
</div>
